*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'TTNorms';
	overflow-x: hidden;
	margin: 0;
	background-color: #f5f7fb;
	font-size: 15px;
	line-height: 24px; 
	color: #000000; 
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0; 
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 80px;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	padding: 15px 0;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 173px;
	max-width: 100%;
	height: auto;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.menu a {
	font-size: 13px;
	line-height: 24px;
	margin: 0 25px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	transition: all 0.3s;
}
.menu a:hover {
	color: #0083eb;
}
.btn-main {
	font-size: 13px;
	padding: 0 18px;
	height: 50px;
	line-height: 24px;
	font-weight: 500;
	background-color: #0083eb;
	background-image: linear-gradient(190.0deg, rgba(1,217,253,0.4) 17%, rgba(1,217,253,0.0) 82%);
	box-shadow: 0px 10px 20px 0px rgba(0,131,235,0.3);
	border-radius: 25px;
	border: none;
	transition: all 0.3s;
	font-family: 'TTNorms';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	cursor: pointer;
	color: #ffffff;
	z-index: 1;
	text-transform: uppercase;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 25px;
	background-image: linear-gradient(190.0deg, rgba(1,217,253,0.4) 100%, rgba(1,217,253,0.0) 100%);
	z-index: -1;
	transition: all 0.3s;
	opacity: 0;
}
.btn-main:hover::before {
	opacity: 1;
}
.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.banner {
	height: 535px;
	border-radius: 20px;
	display: block;
	position: sticky;
	top: 105px;
	transition: all 0.3s;
}
.banner img {
	max-width: 100%;
	border-radius: 20px;
}
.content {
	padding-top: 25px;
}
.content-block {
	margin-bottom: 50px;
	padding: 17px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.item-billbord__image img {
	max-width: 100%;
	margin: 0 auto;
}
.slider-billbord {
	margin-top: 50px;
	padding: 0 40px;
}
.title-big {
	font-size: 60px;
	line-height: 55px;
	font-weight: 900;
	color: #01d9fd;
}
.title-section {
	font-size: 40px;
	line-height: 45px;
	font-weight: 700;
}
.title-section strong {
	font-weight: 900;
}
.descr-big {
	font-size: 22px;
	line-height: 32px;
	font-weight: 500;
}
.item-billbord .title-big {
	margin-bottom: 15px;
}
.item-billbord .title-section {
	margin-bottom: 50px;
	max-width: 400px;
}
.item-billbord .descr-big {
	max-width: 370px;
}
.slick-dots {
	bottom: 0;
	left: 0;
	height: 43px;
	padding: 0 20px;
	align-items: center;
	background-color: #f5f7fb;
	border-radius: 21.5px;
	display: inline-flex !important;
	width: initial;
	right: auto;
}
.slick-dots li  {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	background-color: #0083eb;
	transition: all 0.3s;
	padding: 0;
}
.slick-dots li button:before {
	display: none;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #01d9fd;
}
.slider-billbord .slick-dots {
	left: 40px;
}
.slider-billbord {
	padding-bottom: 35px;
	margin-bottom: 130px;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	height: 52px;
	padding: 0 30px;
	margin: 0 5px;
	background-color: rgba(0,131,235,0.0);
	border: 1px solid #0083eb;
	border-radius: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.tabs .active a,
.tabs a:hover {
	background-color: #0083eb;
	background-image: linear-gradient(190.0deg, rgba(1,217,253,0.4) 17%, rgba(1,217,253,0.0) 82%);
	box-shadow: 0px 10px 20px 0px rgba(0,131,235,0.3);
	color: #fff;
}
.item-category {
	padding: 10px;
	height: 120px;
	margin: 10px;
	margin-bottom: 15px;
	padding-bottom: 0;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	text-align: center;
	cursor: pointer;
	background-color: #ffffff;
	box-shadow: 0px 5px 10px 0px rgba(223,229,240,0.64);
	border-radius: 6px;
}
.slick-current .item-category {
	background-color: #e6f1fc;
}
.item-category__icon {
	width: 60px;
	height: 60px;
	margin-bottom: 8px;
	flex: none;
	background-color: rgba(209,232,255,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.item-category__icon img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav {
	margin-top: 30px;
	padding: 0 45px;
}
.slick-arrow {
	width: 31px;
	height: 31px;
	font-size: 10px;
	color: #0083eb !important;
	background-color: #f5f7fb;
	border-radius: 50%;
	top: 50%;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-arrow:before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow:hover {
	background-color: #e8e8e8;
}
.category-main__image {
	height: 100%;
	margin-right: -22px;
	border-radius: 0px 0px 0px 15px;
}
.category-main__image img {
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 0px 15px;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.category-main__content {
	margin-left: 20px;
}
.slider-for {
	margin-top: 28px;
	border: 1px solid #e3e7ef;
	border-radius: 0px 15px 15px 15px;
}
.category-main__content li a {
	color: #000;
	transition: 0.3s;
}
.category-main__content li a:hover {
	color: #0083eb;
}
.category-main__content ul {
	padding-top: 40px;
	display: grid;
	grid-template-columns: 57% 43%;
}
.category-main__content li {
	padding-left: 15px;
	margin-bottom: 18px;
	position: relative;
}
.category-main__content li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.article-block__title {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 5px;
	font-weight: 700;
	color: #0083eb;
	display: block;
}
.article-block__descr {
	font-size: 14px;
	color: #848f9b;
}
.article-block__head {
	padding: 25px;
	border-bottom: 1px solid #e3e7ef;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.article-block {
	font-size: 15px;
	line-height: 24px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(223,229,240,0.64);
	border-radius: 0px 15px 15px 15px;
}
.article-block__content {
	padding: 25px;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.article-block__content p {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;  
	overflow: hidden;	
}
.row_articles > div {
	margin-bottom: 17px;
}
.title-section_page {
	padding-bottom: 35px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 12px;
	color: #bac9d9;
	transition: all 0.3s;
	margin-right: 4px;
}
.rating_1 > .rating__item:nth-child(1) {
	color: #ee6d15;
}
.rating_2 > .rating__item:nth-child(-n+2) {
	color: #ee6d15;
}
.rating_3 > .rating__item:nth-child(-n+3) {
	color: #ee6d15;
}
.rating_4 > .rating__item:nth-child(-n+4) {
	color: #ee6d15;
}
.rating_5 > .rating__item:nth-child(-n+5) {
	color: #ee6d15;
}
.rating-wrap {
	font-size: 13px;
	padding: 3px 9px;
	background-color: #f5f7fb;
	border-radius: 6px;
	color: #848f9b;
	display: inline-flex;
	align-items: center;
}
.rating-wrap .rating {
	margin-right: 14px;
}
.article-block__name {
	font-size: 16px;
	font-weight: 600;
}
.article-block__date {
	font-size: 13px;
	color: #848f9b;
}
.article-block p {
	margin-bottom: 15px;
}
.article-block__bottom {
	padding-top: 30px;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-page {
	font-size: 14px;
	line-height: 24px;
	color: #0083eb;
	padding: 3px 16px;
	display: inline-block;
	background-color: #f5f7fb;
	border-radius: 6px;
	transition: all 0.3s;
}
.link-page:hover {
	background-color: #e7e7e8;
}
.row_articles {
	margin: 0 -9px;
}
.row_articles > div {
	padding: 0 9px;
}
.content {
	padding-bottom: 58px;
}
.button-more {
	padding-top: 18px;
	text-align: center;
}
.btn-main_page {
	background: none;
	background-color: #0083eb;
	box-shadow: none;
	height: 56px;
	border-radius: 28px;
	text-transform: uppercase;
}
.button-more .btn-main {
	min-width: 204px;
}
.footer {
	padding-top: 55px;
	border-top: 1px solid #fff;
	background-color: #f0f3f8;
}
.footer__nav {
	margin-left: -30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer__nav a {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	transition: all 0.3s;
}
.footer__nav a:hover {
	color: #0083eb;
}
.footer__nav li {
	margin-bottom: 10px;
}
.footer__bottom {
	padding: 12px 0;
	margin-top: 45px;
	font-size: 13px;
	border-top: 1px solid #fff;
}
.footer__bottom a {
	color: #000;
	transition: all 0.3s;
}
.copyright {
	text-align: center;
}
.align_right {
	text-align: right;
}
.btn_top {
	font-size: 20px;
	position: relative;
	color: #fff !important;
	width: 50px;
	height: 50px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #0083eb;
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: #01a6f3;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #0083eb;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #0083eb;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #0083eb;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}
/*End Sandwich*/
.review-main {
	margin-bottom: 45px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.review-main__head {
	padding: 20px 25px;
	border-bottom: 1px solid #e3e7ef;
}
.review-main__content {
	font-size: 15px;
	line-height: 24px;
	padding: 25px;
}
.review-main strong {
	font-weight: 500;
}
.breadcrumbs {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.breadcrumbs a:hover {
	border-color: #000;
}
.breadcrumbs span {
	margin: 0 10px;
}
.title-block {
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	color: #0083eb;
}
.review-main__top {
	margin-bottom: 13px;
	display: flex;
	align-items: center;
}
.item-answer__top .rating-wrap .rating,
.review-main__top .rating-wrap .rating {
	margin-right: 0;
}
.item-answer__top .rating-wrap,
.review-main__top .rating-wrap {
	margin-right: 20px;
}
.review-main__descr {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.review-main__descr p {
	margin: 0;
	margin-right: 60px;
}
.review-main__descr p:last-child {
	margin-right: 0;
}
.review-main__content img {
	max-width: 100%;
	margin-bottom: 20px;
	height: auto;
	border-radius: 15px;
}
.review-main__content p {
	margin-bottom: 20px;
}
.date-main {
	font-size: 13px;
	line-height: 24px;
	color: #848f9b;
}
.review-main__bottom {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.answer-head {
	padding: 35px 25px;
	border-top: 1px solid #0083eb;
}
.title-page {
	font-size: 30px;
	font-weight: 700;
}
.item-answer__image {
	width: 43px;
	height: 43px;
	padding: 6px;
	margin-right: 20px;
	background-color: rgba(209,232,255,0.5);
	border-radius: 50%;
	flex: none;
}
.item-answer__image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-answer {
	padding: 25px;
	border-top: 1px solid #e3e7ef;
}
.item-answer__head {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 27px;
	display: flex;
}
.item-answer__top {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.item-answer__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: #0083eb;
}
.item-answer__bottom {
	padding-top: 25px;
	text-align: right;
}
.item-answer p {
	margin-bottom: 15px;
}
.item-answer_reply {
	background-color: #f5f7fb;
}
.item-answer_reply .link-page:not(:hover) {
	background-color: #ffffff;
}
.item-answer__inner {
	padding-left: 90px;
}
.content > .container > .title-section {
	padding-bottom: 25px;
}
.item-question {
	margin-bottom: 22px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.item-question__head {
	height: 80px;
	padding: 0 35px;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__head i {
	color: #0083eb;
	margin-left: 8px;
	transition: all 0.3s;
}
.item-question.active .item-question__head i {
	transform: rotate(45deg);
}
.item-question__content p {
	margin-bottom: 15px;
}
.item-question__content {
	font-size: 18px;
	line-height: 28px;
	padding: 0 35px;
	padding-bottom: 35px;
	display: none;
}
.block-question {
	padding: 44px 260px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	padding-bottom: 39px;
	margin-top: 10px;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(223,229,240,0.64);
	border-radius: 0px 15px 15px 15px;
	text-align: center;
	background-image: url(../img/bg_questions.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.block-question .title-page {
	padding-bottom: 35px;
	color: #0083eb;
}
.block-question .btn-main {
	padding: 0 45px;
	margin-top: 35px;
	height: 56px;
	border-radius: 28px;
	text-transform: uppercase;
}
.contacts-block {
	font-size: 18px;
	line-height: 28px;
	padding: 43px 45px;
	padding-bottom: 50px;
	margin-top: 28px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.contacts-block .title-block:not(a) {
	color: #000;
}
.contacts-block a.title-block {
	display: inline-block;
	line-height: 24px;
	margin-bottom: 30px;
	border-bottom: 2px solid #0083eb;
}
.contacts-block .title-block {
	margin-bottom: 25px;
}
.contacts-block .btn-main {
	height: 56px;
	border-radius: 28px;
	padding: 0 30px;
	margin-top: 40px;
}
.contacts-block .title-block span {
	white-space: nowrap;
}
.partner-block {
	font-size: 18px;
	line-height: 28px;
	padding: 40px 35px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.partner-block p {
	margin-bottom: 25px;
}
.title-small {
	font-size: 20px;
	padding-bottom: 25px;
	font-weight: 700;
}
.partner-block img {
	float: right;
}
.checkbox {
	font-size: 13px;
	line-height: 17px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 2px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid rgba(153,153,153,0.69);
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 0px;
	width: 15px;
	height: 15px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #01d9fd;
	font-size: 6px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.partner-form {
	padding: 37px 195px;
	padding-bottom: 43px;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(223,229,240,0.64);
	border-radius: 0px 15px 15px 15px;
	text-align: center;
	background-image: url(../img/bg_partner.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.partner-form .title-page {
	line-height: 35px;
	padding-bottom: 28px;
	color: #0083eb;
}
.btn-download,
.item-form input,
.item-form textarea {
	height: 57px;
	padding: 0 21px;
	background-color: #f5f7fb;
	border: 1px solid #e3e7ef;
	border-radius: 6px;
	font-size: 13px;
	line-height: 24px;
	font-weight: 500;
	color: #000000;
	font-family: 'TTNorms';
	width: 100%;
}
.btn-download {
	display: flex;
	align-items: center;
	background-image: url(../img/ic_download.png);
	background-repeat: no-repeat;
	background-position: center right 18px;
}
.item-form textarea {
	padding-top: 15px;
	height: 112px;
	resize: none;
}
.item-form {
	margin-bottom: 18px;
}
.row_form {
	margin: 0 -10px;
}
.row_form > div {
	padding: 0 10px;
}
.partner-form .btn-main {
	min-width: 204px;
	height: 56px;
	margin-top: 25px;
	border-radius: 28px;
}
.block-rules {
	padding: 25px 35px;
	padding-right: 60px;
	font-size: 18px;
	line-height: 28px;
	background-color: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(141,169,196,0.33);
	border-radius: 20px;
}
.block-rules p {
	margin-bottom: 25px;
}
.block-rules .title-small:not(:first-of-type) {
	padding-top: 20px;
}
